node_modules/
dist/

*.class

__pycache__/
*.py[cod]
*$py.class

db.sqlite3
/pg_data

secrets.json
DockerfilePro
Dockerfile
docker-compose.yml
.env
*.sh

*.log

*.jar

target/
dist/

.idea/

TEST*.xml
.coverage*
htmlcov
pyrightconfig.json
README.md

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
/media
/test_media
/tmp
