[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.4"
environs = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
requests = "*"
pillow = "*"
cryptography = "*"

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
rich = "*"
coverage = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.8"
