{% extends 'layout/base.html' %}

{% block content %}
<div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Remove</h4>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete?</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="{% url 'pwdgen:category-list' %}" class="btn btn-info">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
