{% extends 'layout/base.html' %}

{% load crispy_forms_tags crispy_forms_field %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <div class="card">
            <div class="card-header card-header-info card-header-tabs">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#generator" data-toggle="tab">
                                    <i class="material-icons">security</i> Generator
                                    <div class="ripple-container"></div>
                                </a>
                            </li>

                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="#category" data-toggle="tab">
                                    <i class="material-icons">library_add</i> Save
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="generator">
                        <form id="gen" method="post" accept-charset="utf-8">
                            <div>
                                <div class="row my-3 align-items-center">
                                    <div class="col-md-8 d-flex flex-column justify-content-around">
                                        {% crispy form %}
                                    </div>

                                    <div class="col-md-4">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                {% crispy_field form.lowercase %}
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Include lowercase letters.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                {% crispy_field form.uppercase %}
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Include uppercase letters.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                {% crispy_field form.punctuation %}
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Include punctuation.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                {% crispy_field form.numbers %}
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Include numbers.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <input type="submit" class="btn btn-info btn-lg btn-block mx-4" value="Generate" />
                                </div>
                            </div>
                  </form>
              </div>


              {% if user.is_authenticated %}
              <div class="tab-pane" id="category">
                  <form id='keep' action="{% url 'pwdgen:password-save' %}" method="post" accept-charset="utf-8">

                      {% csrf_token %}

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label class="bmd-label-floating">Select Category</label>
                                      {% crispy_field pwdform.category %}
                                  </div>
                              </div>
                          </div>

                          <br />

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label class="bmd-label-floating">Name</label>
                                      {% crispy_field pwdform.name %}
                                  </div>
                              </div>
                          </div>
                          {% crispy_field pwdform.password %}

                          <br />

                          <div class="row">
                              <input type="submit" class="btn btn-info btn-lg btn-block mx-4" value="Save" />
                          </div>
                  </form>
              </div>
              {% endif %}

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script charset="utf-8">
(function ($) {
    // Displays errors for given $form and field
    function add_errors($form, field, errors) {
        var $field = $form.find('[name*=' + field + ']:first');
        var $feedback = $('<p id="error_1_id_name" class="invalid-feedback d-block"></p>');

        if (errors.length == 1) {
            $feedback.text(errors[0]);
        } else {
            $feedback.text(errors.join(' '));
        }

        $feedback.insertAfter($field);
    }

    // Removes all errors for given $form
    function clear_errors($form) {
        $form.find('.invalid-feedback').remove();
        $form.find('.is-invalid').removeClass('is-invalid');
    }

    $('form#gen').on('submit', function (event) {
        var $form = $(this);
        var $checkbox = $form.find('.checkboxinput:checkbox:checked');

        if ($checkbox.length === 0) {
            event.preventDefault();
        }
    });

    $('form#keep').on('submit', function (e) {
        e.preventDefault();
        $('#id_password')[0].value = $('#id_pwd')[0].value;

        var $form = $(this);
        var data = $form.serialize();

        clear_errors($form);

        $.post($form.attr('action'), $form.serialize())
            .then(function (data, status, xhr) {
                if (xhr.status == 200) {
                    return data;
                } else {
                    Promise.reject();
                }
            })
            .then(function (data) {
                window.location.replace("{% url 'pwdgen:category-list' %}");
            })
            .catch(function (xhr) {
                var errors = xhr.responseJSON;

                for (var field in errors) {
                    add_errors($form, field, errors[field]);
                }
            });
    });

    var $password = $('#id_pwd');
    $password.on('click', function(event) {
        $password.select();
        document.execCommand("copy");
    });
})(jQuery);
</script>
{% endblock js %}
