<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a rel="noopener noreferrer" href="{% url 'layout:home' %}">
                        Future Password
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/fode4cun">fode4cun</a>
        </div>
    </div>
</footer>
