{% extends "layout/base.html" %}

{% load crispy_forms_field %}

{% block title %}Futurepassword - Registration{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Create Account</h4>
            </div>
            <div class="card-body">

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>
                            {{ message|safe }}
                        </span>
                    </div>
                    {% endfor %}
                {% endif %}

                <br />

                <form role="form" method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ user_form.username.label_tag }}
                                {% crispy_field user_form.username %}
                            </div>
                        </div>
                    </div>
                    <span class="text-danger">{{ user_form.email.errors }}</span>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ user_form.email.label_tag }}
                                {% crispy_field user_form.email %}
                            </div>
                        </div>
                    </div>
                    <span class="text-danger">{{ user_form.email.errors }}</span>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ user_form.password1.label_tag }}
                                {% crispy_field user_form.password1 %}
                            </div>
                        </div>
                    </div>
                    <span class="text-danger">{{ user_form.password1.errors }}</span>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ user_form.password2.label_tag }}
                                {% crispy_field user_form.password2 %}
                            </div>
                        </div>
                    </div>
                    <span class="text-danger">{{ user_form.password2.errors }}</span>

                    <br />

                    <button type="submit" name="register" class="btn btn-info pull-left">Register</button>

                    <span class="pull-right">
                        Have an account? <a href="{% url 'login' %}" class="text-info">Login</a>
                    </span>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
